@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root{
	font-family: "Inter", sans-serif;
}

header{
	display: block;
	border-collapse: collapse;
}

/* NavBar (START) */

/* Contains Style for Navbar */
.navbar {
	margin-left: auto;
	margin-right: auto;
	/* for spacing the navbar*/
	padding: 1rem;
	/* border-radius: For Rounded Corners */
	border-radius: 1rem;
	background-color: #ff471a;
}




/* Table Data */
.table-container {
	margin-top: 3rem;
	align-items: center;
}

table {
	overflow-x: auto;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 60%;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ffe6e6;
	color: black;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

