@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root{
	font-family: "Inter", sans-serif;
}

/* NavBar (START) */
.navbar-head {
	text-align: center;
	color: #ffffff;
}


/* Contains Style for Navbar */
.navbar {
	text-align: justify;
	/* for spacing the navbar*/
	padding: 1rem;
	/* border-radius: For Rounded Corners */
	border-radius: 1rem;
	background-color: #ff471a;
}

/* The default color for navbar link */

/* navbar link */
.navbar-button-list {
	text-align: center;
	list-style: none;
}

/* Inline navbar link */
.navbar-button-inline {
	display: inline;
}

/* Individual Link */
.navbar-button {
	color: white;
	background: transparent;
	text-decoration: none;
	transition-duration: 0.6s;
}

/* Unvisited Linked */
.navbar-button-list a:link {
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
}

/* Hovered link */
.navbar-button-list a:hover {
	color: #ffff00;
	background-color: transparent;
	text-decoration: underline;
}

/* Active Link */
.navbar-button-list .active {
	color: #ffff00;
	background-color: transparent;
	text-decoration: none;
}
/* NavBar (END) */


.navbar {
	border-radius: 10px;
}

/* Table Data */
.table-container {
	margin-top: 3rem;
	align-items: center;
}

table {
	overflow-x: auto;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	width: 70%;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #ffe6e6;
	color: black;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

