@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

:root {
	font-family: "Inter", sans-serif;
	text-align: center;
}

.title {
	background: #ff471a;
	border-radius: 2rem;
	color: white;
	padding: 1rem;
	margin: 2rem;
}

/* Table Data */
.table-container {
	margin: 3rem 0 3rem 0;
	align-items: center;
}

table {
	overflow-x: auto;
	overflow-y: auto;
	margin: 2rem auto 2rem auto;
	border-collapse: collapse;
	width: 60%;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #ffe6e6;
	color: black;
}

td,
th {
	border: 1px solid #ddd;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2;
}

tr:hover {
	background-color: #ddd;
}

/* Export Button */

#export {
	border-radius: 10px;
	background: transparent;
	padding: 12px 24px;
	transition-duration: 0.4s;
}
#export:hover {
	background-color: black;
	color: white;
}


/* Date Selector */

#dateSelector {
	border-radius: 10px;
	background: transparent;
	padding: 12px 24px;
	transition-duration: 0.4s;
}

#dateSelector:hover {
	background-color: aqua;
	color: black;
}